<div class="root responsivegrid">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
        <!-- Header -->
        {{> header}}
        <div class="landinghero aem-GridColumn aem-GridColumn--default--12">
            <div class=landing-hero__component>
                <ul class=home-page-hero__slide-list>
                    <li class="home-page-hero__slide-item image-mask">
                        <div class=home-page-hero__image>
                            <div class="rendition-bg rendition-bg--alignment desktop-left-top mobile-left-top" role=img
                                aria-label="Blurred image of a road"
                                data-src=//dynamicmedia.eaton.com/is/image/eaton/iStock-515009182:landing-hero-mobile
                                data-mobile-rendition=//dynamicmedia.eaton.com/is/image/eaton/iStock-515009182:landing-hero-mobile
                                data-tablet-rendition=//dynamicmedia.eaton.com/is/image/eaton/iStock-515009182:landing-hero-mobile
                                data-desktop-rendition=//dynamicmedia.eaton.com/is/image/eaton/iStock-515009182:landing-hero-desktop>
                            </div>
                        </div>
                        <div class=home-page-hero__content>
                            <div class=container>
                                <div class=home-page-hero__caption>
                                    <h2 class="b-heading-h1-hero home-page-hero__title">We make the ‘on’ button
                                        work.*
                                    </h2>
                                    <div class="home-page-hero__text b-hero-description">*Power is easy to take for
                                        granted. You flick a switch and energy flows to the lights that brighten
                                        your office or the differential that keeps your car on the road. We make
                                        sure it all works together seamlessly and reliably.
                                    </div>
                                    <a class="home-page-hero__cta b-button b-button__primary b-button__primary--dark"
                                        href=http://www.eaton.com/whatmatters target=_blank role=button>See how</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                <div class="page-overview aem-GridColumn aem-GridColumn--default--12">
                    <div class=page-overview__component>
                        <div class=container>
                            <div class="row page-overview_rtl__container">
                                <div class="col-xs-12 col-md-6">
                                    <h2 class="page-overview__title b-heading-h2">
                                        Products
                                    </h2>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="page-overview__content b-body-copy">Eaton produces a broad range of
                                        products and services, from fuel-efficient systems to power chain management
                                        tools and components that safely guide commercial aircraft. Eaton is always
                                        looking for new ways to increase the value of the products and services that
                                        we offer our customers.<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-link-list aem-GridColumn aem-GridColumn--default--12">
                    <div class=links-list-2-columns>
                        <div class=container>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/actuators.html title="Actuators and motion control"
                                    target=_self data-source-tracking=false rel=nofollow>Actuators and motion
                                    control</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/backup-power-ups-surge-it-power-distribution.html
                                    title="Backup power, UPS, surge &amp; IT power distribution products" target=_self
                                    data-source-tracking=false rel=nofollow>Backup power, UPS, surge
                                    &amp; IT power distribution products</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/clutches-brakes.html title="Clutches and brakes" target=_self
                                    data-source-tracking=false rel=nofollow>Clutches and brakes</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/conduit-cable-wire-management.html
                                    title="Conduit, cable and wire management" target=_self data-source-tracking=false
                                    rel=nofollow>Conduit, cable and wire management</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/cylinders.html title=Cylinders target=_self
                                    data-source-tracking=false rel=nofollow>Cylinders</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/differentials-traction-control.html
                                    title="Differentials and traction control" target=_self data-source-tracking=false
                                    rel=nofollow>Differentials and traction control</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/ducting-solutions.html title="Ducting solutions" target=_self
                                    data-source-tracking=false rel=nofollow>Ducting solutions</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/electrical-circuit-protection.html
                                    title="Electrical circuit protection" target=_self data-source-tracking=false
                                    rel=nofollow>Electrical circuit protection</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/emobility.html title="Electric vehicles and EV charging"
                                    target=_self data-source-tracking=false rel=nofollow>Electric vehicles and EV
                                    charging</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/electronic-components.html title="Electronic components"
                                    target=_self data-source-tracking=false rel=nofollow>Electronic components</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/enclosures.html title=Enclosures target=_self
                                    data-source-tracking=false rel=nofollow>Enclosures</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/energy-storage.html title="Energy storage systems"
                                    target=_self data-source-tracking=false rel=nofollow>Energy storage systems</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/engine-solutions.html title="Engine solutions" target=_self
                                    data-source-tracking=false rel=nofollow>Engine solutions</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/filtration-solutions.html title="Filtration solutions"
                                    target=_self data-source-tracking=false rel=nofollow>Filtration solutions</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/fuel-systems-emissions-components.html
                                    title="Fuel systems, emissions and components" target=_self
                                    data-source-tracking=false rel=nofollow>Fuel systems, emissions and
                                    components</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/golf-grips.html title="Golf grips" target=_self
                                    data-source-tracking=false rel=nofollow>Golf grips</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/fluid-conveyance.html
                                    title="Hose, tubing, fittings and connectors" target=_self
                                    data-source-tracking=false rel=nofollow>Hose, tubing, fittings and
                                    connectors</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/motors-generators.html
                                    title="Hydraulic motors and generators " target=_self data-source-tracking=false
                                    rel=nofollow>Hydraulic motors and generators
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/controls-drives-automation-sensors.html
                                    title="Industrial controls, drives, automation &amp; sensors" target=_self
                                    data-source-tracking=false rel=nofollow>Industrial controls, drives, automation
                                    &amp; sensors</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/lighting-controls.html title="Lighting &amp; controls"
                                    target=_self data-source-tracking=false rel=nofollow>Lighting &amp; controls</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/low-voltage-power-distribution-control-systems.html
                                    title="Low-voltage power distribution &amp; control systems" target=_self
                                    data-source-tracking=false rel=nofollow>Low-voltage power distribution &amp;
                                    control systems</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/medium-voltage-power-distribution-control-systems.html
                                    title="Medium voltage power distribution &amp; control systems" target=_self
                                    data-source-tracking=false rel=nofollow>Medium voltage power distribution &amp;
                                    control systems</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/process-safety-automation-measurement.html
                                    title="Process safety, automation, test and measurement" target=_self
                                    data-source-tracking=false rel=nofollow>Process safety, automation, test and
                                    measurement</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/productstewardship.html title="Product stewardship"
                                    target=_self data-source-tracking=false rel=nofollow>Product stewardship</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/pumps.html title=Pumps target=_self
                                    data-source-tracking=false rel=nofollow>Pumps</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/safety-security-emergency-communications.html
                                    title="Safety, security &amp; emergency communications " target=_self
                                    data-source-tracking=false rel=nofollow>Safety, security &amp; emergency
                                    communications </a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/server-racks-enclosures-airflow-management.html
                                    title="Server racks, enclosures and airflow management" target=_self
                                    data-source-tracking=false rel=nofollow>Server racks, enclosures and airflow
                                    management</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/steering-systems.html title="Steering systems" target=_self
                                    data-source-tracking=false rel=nofollow>Steering systems</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/transmissions.html title=Transmissions target=_self
                                    data-source-tracking=false rel=nofollow>Transmissions</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/utility-grid-solutions.html
                                    title="Utility &amp; grid solutions" target=_self data-source-tracking=false
                                    rel=nofollow>Utility &amp; grid solutions</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/valves.html title=Valves target=_self
                                    data-source-tracking=false rel=nofollow>Valves</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/vehicle-electrification-power-management.html
                                    title="Vehicle controls, automation &amp; power management" target=_self
                                    data-source-tracking=false rel=nofollow>Vehicle controls, automation &amp; power
                                    management</a>
                            </div>
                            <div class="col-xs-12 col-md-6 links-list-2-columns__link b-body-copy">
                                <a href=/gb/en-gb/products/wiring-devices-connectivity.html
                                    title="Wiring devices &amp; connectivity" target=_self data-source-tracking=false
                                    rel=nofollow>Wiring devices &amp; connectivity</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reference parbase aem-GridColumn aem-GridColumn--default--12">
                    <div class=cq-dd-paragraph>
                        <div class="feature_block feature-block">
                            <div
                                class="feature-block__component theme-light-gray feature-block--right feature-block--with-image">
                                <div class=feature-block__image>
                                    <div class="rendition-bg rendition-bg--alignment desktop-left-center mobile-left-center"
                                        role=img
                                        aria-label="Eaton Cummins Automated Transmission Technology Endurant transmission"
                                        data-src='/assets/img/Endurant_side_1.png'
                                        data-mobile-rendition='/assets/img/Endurant_side_1.png'
                                        data-tablet-rendition='/assets/img/Endurant_side_1.png'
                                        data-desktop-rendition='/assets/img/Endurant_side_1.png'>
                                    </div>
                                </div>
                                <div class=feature-block__text-container>
                                    <h2 class=feature-block__title>Eaton Cummins Automated Transmission Technologies
                                    </h2>
                                    <div class="feature-block__description b-body-copy">
                                        <div class=feature-block__text>The best in the business coming together to
                                            deliver the power you need to move forward.
                                        </div>
                                    </div>
                                    <div class=feature-block__cta-wrapper>
                                        <a href=http://www.eaton.com/Eaton/ProductsServices/Vehicle/eaton-cummins/index.htm
                                            class="feature-block__cta b-button b-button__primary b-button__primary--light"
                                            data-source-tracking=false role=button>Learn more about our joint
                                            venture</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-box aem-GridColumn aem-GridColumn--default--12">
                    <div class="eaton-search eaton-search--default"
                        data-predictive-search={&#34;dataAttribute&#34;:[{&#34;currentLanguage&#34;:&#34;en_GB&#34;},{&#34;currentCountry&#34;:&#34;GB&#34;},{&#34;searchResultsPageUrl&#34;:&#34;\/content\/eaton\/gb\/en-gb\/site-search&#34;},{&#34;viewType&#34;:&#34;default&#34;}]}>
                        <div class=container>
                            <div class=row>
                                <form id=site-search class="col-xs-12 eaton-search__form eaton-search--default__form"
                                    autocomplete=off target="" onsubmit="return formSubmit(event)">
                                    <div class=form-group>
                                        <label for=site-search-box class=sr-only></label>
                                        <textarea rows=1 name=search-term id=site-search-box
                                            class="form-control eaton-search--default__form-input eaton-search-textarea"
                                            placeholder="Search Eaton products" required></textarea>
                                        <div
                                            class="eaton-search--default__form-mobile-label u-visible-mobile hidden-xs hidden-sm">
                                            <span> Search Eaton products</span>
                                        </div>
                                        <button type=submit
                                            class="button--reset eaton-search__submit eaton-search--default__form-submit">
                                            <span class=sr-only></span> <i class="icon icon-search"
                                                aria-hidden=true></i>
                                        </button>
                                    </div>
                                    <div class=eaton-search--default__results>
                                        <ul class=eaton-search--default__result-list>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script
                        defer>function formSubmit(e) { var r = e.target.querySelector("textarea").value; if ("" != r) { var a = new RegExp("=", "g"); r = r.replace(a, "[]"), a = new RegExp("\\.", "g"), r = r.replace(a, "::"), a = new RegExp("\\$", "g"), r = r.replace(a, "<>"), a = new RegExp("&", "g"), r = r.replace(a, "%%"), a = new RegExp("{", "g"), r = r.replace(a, ""), a = new RegExp("}", "g"), r = r.replace(a, ""), a = new RegExp("<", "g"), r = r.replace(a, ""), a = new RegExp("/", "g"), r = (r = r.replace(a, "{}")).replace("?", ""); var n = "https://www.eaton.com/gb/en-gb/site-search.html.searchTerm$" + (r = encodeURIComponent(r)) + ".tabs$all.html"; return window.location.href = n, !1 } return window.open("", "window").location.href = "#", !1 }</script>
                </div>
                <div class="divider aem-GridColumn aem-GridColumn--default--12">
                    <div class=eaton-spacer></div>
                </div>
                <div class="feature-block aem-GridColumn aem-GridColumn--default--12">
                    <div
                        class="feature-block__component theme-primary-branding-color feature-block--left feature-block--with-image">
                        <div class=feature-block__image>
                            <div class="rendition-bg rendition-bg--alignment desktop-center-center mobile-center-center"
                                role=img aria-label="Engineer looking at equipment" data-src='/assets/img/image.jpg'
                                data-mobile-rendition='/assets/img/image.jpg'
                                data-tablet-rendition='/assets/img/image.jpg'
                                data-desktop-rendition='/assets/img/image.jpg'>
                            </div>
                        </div>
                        <div class=feature-block__text-container>
                            <h2 class=feature-block__title>Product stewardship</h2>
                            <div class="feature-block__description b-body-copy">
                                <div class=feature-block__text>We are committed to minimising the impact of our
                                    operations and products. As a global manufacturer, we comply with international
                                    product-related regulations, such as the EU WEEE, REACH and Prop 65.
                                </div>
                                <div class="feature-block__links-list b-body-copy">
                                    <a class=feature-block__links-item href=/gb/en-gb/products/productstewardship.html
                                        target=_self data-source-tracking=false></a>
                                </div>
                            </div>
                            <div class=feature-block__cta-wrapper>
                                <a href=/gb/en-gb/products/productstewardship.html
                                    class="feature-block__cta b-button b-button__primary b-button__primary--dark"
                                    data-source-tracking=false role=button>Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" aem-GridColumn aem-GridColumn--default--12">
            <div class=eaton-breadcrumb>
                <div class=container>
                    <ul class=eaton-breadcrumb__list>
                        <li class=eaton-breadcrumb__list-item>
                            <span>Products</span>
                            <i class="icon icon-chevron-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer -->
        {{> footer}}
    </div>
</div>