<div class="root responsivegrid">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
        <!-- Header -->
        {{> header}}
        <div class="category-hero aem-GridColumn aem-GridColumn--default--12">
            <div class="category-hero__component dark-theme image-mask">
                <div class=category-hero__image>
                    <div class="rendition-bg rendition-bg--alignment desktop-center-center mobile-center-center" role=img
                        aria-label="Digital blueprint of factory"
                        data-src="//dynamicmedia.eaton.com/is/image/eaton/HeavyIndustry_Industrial Controls Drives Automation Sensors:category-hero-mobile"
                        data-mobile-rendition="//dynamicmedia.eaton.com/is/image/eaton/HeavyIndustry_Industrial Controls Drives Automation Sensors:category-hero-mobile"
                        data-tablet-rendition="//dynamicmedia.eaton.com/is/image/eaton/HeavyIndustry_Industrial Controls Drives Automation Sensors:category-hero-mobile"
                        data-desktop-rendition="//dynamicmedia.eaton.com/is/image/eaton/HeavyIndustry_Industrial Controls Drives Automation Sensors:category-hero-desktop"
                        style="background-image:url(&quot;//dynamicmedia.eaton.com/is/image/eaton/HeavyIndustry_Industrial Controls Drives Automation Sensors:category-hero-desktop&quot;)">
                    </div>
                </div>
                <div class=category-hero__content>
                    <div class=container>
                        <div class=row>
                            <div class=col-xs-12>
                                <div class="category-hero__eyebrow b-eyebrow-small">
                                    <a class=category-hero__cta href=/gb/en-gb/products.html aria-label="Go back to Products"><i
                                            class="icon icon-chevron-left" aria-hidden=true></i>Products</a>
                                </div>
                            </div>
                        </div>
                        <div class=row>
                            <div class="col-xs-12 col-md-6">
                                <h1 class="category-hero__title b-heading-h1">
                                    Industrial control, drives, automation &amp; sensors
                                </h1>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="category-hero__text b-hero-description">Eaton meets the challenges of shorter
                                    product life cycles and higher energy costs with a full line of automation and control
                                    products that energize the machines a globally demanding marketplace requires.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                <div class="link-list-with-icons aem-GridColumn aem-GridColumn--default--12">
                    <div class=link-list-with-icon__component>
                        <div class=container>
                            <div class=row>
                                <div class="link-list-with-icon__element col-xs-12 col-md-4">
                                    <div class=link-list-with-icon__icon>
                                        <img data-src=/assets/icons/Calculator-icon.png alt="" class="ls-is-cached lazyloaded"
                                            src=/assets/icons/Calculator-icon.png>
                                    </div>
                                    <div class=link-list-with-icon__text-wrapper>
                                        <a href=https://www.eaton.com/gb/en-gb/support/tools.facets$1616433046.html
                                            class=link-list-with-icon__item-title target=_blank>Tools and configurators</a>
                                        <div class="link-list-with-icon__text b-body-copy">Support your application with
                                            industrial controls tools and configurators</div>
                                    </div>
                                </div>
                                <div class="link-list-with-icon__element col-xs-12 col-md-4">
                                    <div class=link-list-with-icon__icon>
                                        <img data-src=/assets/icons/information-icon-blue-64.png alt=""
                                            class="ls-is-cached lazyloaded" src=/assets/icons/information-icon-blue-64.png>
                                    </div>
                                    <div class=link-list-with-icon__text-wrapper>
                                        <a href=/gb/en-gb/markets/machine-building/service-and-support-machine-building-moem-service-eaton/blogs.html
                                            class=link-list-with-icon__item-title>Machine Building blog</a>
                                        <div class="link-list-with-icon__text b-body-copy"> Stay up to date with key industry
                                            topics in our latest machine building blog posts</div>
                                    </div>
                                </div>
                                <div class="link-list-with-icon__element col-xs-12 col-md-4">
                                    <div class=link-list-with-icon__icon>
                                        <img data-src=/assets/icons/learn-online-icon-blue.png alt=""
                                            class="ls-is-cached lazyloaded" src=/assets/icons/learn-online-icon-blue.png>
                                    </div>
                                    <div class=link-list-with-icon__text-wrapper>
                                        <a href=/gb/en-gb/markets/machine-building/service-and-support-machine-building-moem-service-eaton/machine-building-training-courses.html
                                            class=link-list-with-icon__item-title>Online training courses</a>
                                        <div class="link-list-with-icon__text b-body-copy">Register for free online training
                                            courses on a series of machine building topics</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabbed-menu-list aem-GridColumn aem-GridColumn--default--12">
                    <div class=tabbed-menu-list__component>
                        <div class="container tabbed-menu-list__view-mobile">
                            <div id=tabbed-menu-list--8457 class="panel-group tabbed-menu-list__accordion mobile"
                                role=presentation>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed" data-toggle=collapse
                                        data-parent=#tabbed-menu-list--8457 href=#collapse-8457-0 data-index=0
                                        aria-expanded=false>Contactors and starters <i class="icon icon-sign-plus pull-right"
                                            aria-hidden=true></i>
                                    </a>
                                    <div id=collapse-8457-0 class="panel-collapse collapse" role=region
                                        aria-labelledby="Contactors and starters" aria-expanded=false>
                                        <div class=row>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Contactors-and-starters.html
                                                    target=_self>View all Contactors and starters</a>
                                            </div>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy-small
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Contactors-and-starters/winwin-with-Push-in-terminals.html
                                                    target=_self>Win-win with Push-in terminals</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Control-relays-and-timers.html
                                        target=_self>Control relays and timers</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/DC-switching.html
                                        target=_self>DC switching</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/decentralized-motor-control---emea.html
                                        target=_self>Decentralised motor control</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/internet-of-things--iot--hardware---emea.html
                                        target=_self>Edge devices and IoT gateways</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/heaters-and-thermostats.html
                                        target=_self>Heaters and thermostats</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Human-machine-interface-HMI-and-industrial-PCs.html
                                        target=_self>Human machine interface (HMI) and industrial PCs</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Motor-protection-and-overload-relays.html
                                        target=_self>Motor protection and overload relays</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Power-Supplies.html
                                        target=_self>Power supplies</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Programmable-logic-controllers-PLCs-and-IO-systems.html
                                        target=_self>Programmable logic controllers (PLCs) and I/O systems</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed" data-toggle=collapse
                                        data-parent=#tabbed-menu-list--8457 href=#collapse-8457-10 data-index=10
                                        aria-expanded=false>Pushbuttons &amp; signal towers <i
                                            class="icon icon-sign-plus pull-right" aria-hidden=true></i>
                                    </a>
                                    <div id=collapse-8457-10 class="panel-collapse collapse" role=region
                                        aria-labelledby="Pushbuttons &amp; signal towers" aria-expanded=false>
                                        <div class=row>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights.html
                                                    target=_self>View all Pushbuttons &amp; signal towers</a>
                                            </div>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy-small
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/rmq-flat-design-pilot-devices.html
                                                    target=_self>RMQ Flat Design pilot devices</a>
                                            </div>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy-small
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/rmq-emergency-stop-buttons.html
                                                    target=_self>RMQ emergency-stop buttons</a>
                                            </div>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy-small
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/Pushbutton-and-signal-towers-configurators.html
                                                    target=_self>Product Configurators - Pushbutton &amp; signal towers </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/SafetyRelaysandSwitches.html
                                        target=_self>Safety relays &amp; switches</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/SensorsandLimitSwitches.html
                                        target=_self>Sensors and limit switches</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/smartwire-dt-wiring-solutions.html
                                        target=_self>SmartWire-DT wiring solutions</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Soft-starters.html
                                        target=_self>Soft starters</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/software---emea.html
                                        target=_self>Software</a>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed" data-toggle=collapse
                                        data-parent=#tabbed-menu-list--8457 href=#collapse-8457-16 data-index=16
                                        aria-expanded=false>Switch-Disconnectors and cam switches <i
                                            class="icon icon-sign-plus pull-right" aria-hidden=true></i>
                                    </a>
                                    <div id=collapse-8457-16 class="panel-collapse collapse" role=region
                                        aria-labelledby="Switch-Disconnectors and cam switches" aria-expanded=false>
                                        <div class=row>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/switch-disconnectors-and-cam-switches.html
                                                    target=_self>View all Switch-Disconnectors and cam switches</a>
                                            </div>
                                            <div class=col-xs-12>
                                                <a class=b-body-copy-small
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/switch-disconnectors-and-cam-switches/p1-40-switch-disconnectors.html
                                                    target=_self>p1-40 switch-disconnectors</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabbed-menu-list__tab-title b-body-copy col-md-4" role=heading>
                                    <a class="tabbed-menu-list__title mobile collapsed"
                                        href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/variable-frequency-drives---emea.html
                                        target=_self>Variable frequency drives</a>
                                </div>
                            </div>
                        </div>
                        <div class="container tab-container tabbed-menu-list__view-desktop">
                            <div class="tabbed-menu-list__tab-title row-1 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop" data-toggle=tab href=javascript:void(0)#tab-8457-0
                                    data-index=0 role=tab aria-selected=false>Contactors and starters</a>
                            </div>
                            <div class="tabbed-menu-list__tab-content row-1"
                                style="margin-left:-113px;margin-right:-113px;width:calc(100% + 226px)">
                                <div id=tab-8457-0 data-index=0 class="tab-pane fade tabbed-menu-list__item-content">
                                    <div class=container>
                                        <div class=row>
                                            <div class="col-xs-12 col-md-3 tabbed-menu-list__content-title">
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Contactors-and-starters.html
                                                    target=_self>View all Contactors and starters</a>
                                            </div>
                                            <div class="col-xs-12 col-md-9 tabbed-menu-list__tab-links">
                                                <div>
                                                    <div class="col-xs-12 col-md-4 tabbed-menu-list__tab-links--link">
                                                        <a class=b-body-copy-small
                                                            href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Contactors-and-starters/winwin-with-Push-in-terminals.html
                                                            target=_self>Win-win with Push-in terminals</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-1 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Control-relays-and-timers.html
                                    target=_self>Control relays and timers</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-1 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/DC-switching.html
                                    target=_self>DC switching</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-2 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/decentralized-motor-control---emea.html
                                    target=_self>Decentralised motor control</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-2 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/internet-of-things--iot--hardware---emea.html
                                    target=_self>Edge devices and IoT gateways</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-2 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/heaters-and-thermostats.html
                                    target=_self>Heaters and thermostats</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-3 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Human-machine-interface-HMI-and-industrial-PCs.html
                                    target=_self>Human machine interface (HMI) and industrial PCs</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-3 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Motor-protection-and-overload-relays.html
                                    target=_self>Motor protection and overload relays</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-3 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Power-Supplies.html
                                    target=_self>Power supplies</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-4 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Programmable-logic-controllers-PLCs-and-IO-systems.html
                                    target=_self>Programmable logic controllers (PLCs) and I/O systems</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-4 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop" data-toggle=tab href=javascript:void(0)#tab-8457-10
                                    data-index=10 role=tab aria-selected=false>Pushbuttons &amp; signal towers</a>
                            </div>
                            <div class="tabbed-menu-list__tab-content row-4"
                                style="margin-left:-113px;margin-right:-113px;width:calc(100% + 226px)">
                                <div id=tab-8457-10 data-index=10 class="tab-pane fade tabbed-menu-list__item-content">
                                    <div class=container>
                                        <div class=row>
                                            <div class="col-xs-12 col-md-3 tabbed-menu-list__content-title">
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights.html
                                                    target=_self>View all Pushbuttons &amp; signal towers</a>
                                            </div>
                                            <div class="col-xs-12 col-md-9 tabbed-menu-list__tab-links">
                                                <div>
                                                    <div class="col-xs-12 col-md-4 tabbed-menu-list__tab-links--link">
                                                        <a class=b-body-copy-small
                                                            href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/rmq-flat-design-pilot-devices.html
                                                            target=_self>RMQ Flat Design pilot devices</a>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 tabbed-menu-list__tab-links--link">
                                                        <a class=b-body-copy-small
                                                            href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/rmq-emergency-stop-buttons.html
                                                            target=_self>RMQ emergency-stop buttons</a>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 tabbed-menu-list__tab-links--link">
                                                        <a class=b-body-copy-small
                                                            href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/pushbuttons-and-stacklights/Pushbutton-and-signal-towers-configurators.html
                                                            target=_self>Product Configurators - Pushbutton &amp; signal towers
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-4 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/SafetyRelaysandSwitches.html
                                    target=_self>Safety relays &amp; switches</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-5 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/SensorsandLimitSwitches.html
                                    target=_self>Sensors and limit switches</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-5 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/smartwire-dt-wiring-solutions.html
                                    target=_self>SmartWire-DT wiring solutions</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-5 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/Soft-starters.html
                                    target=_self>Soft starters</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-6 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/software---emea.html
                                    target=_self>Software</a>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-6 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop" data-toggle=tab href=javascript:void(0)#tab-8457-16
                                    data-index=16 role=tab aria-selected=false>Switch-Disconnectors and cam switches</a>
                            </div>
                            <div class="tabbed-menu-list__tab-content row-6"
                                style="margin-left:-113px;margin-right:-113px;width:calc(100% + 226px)">
                                <div id=tab-8457-16 data-index=16 class="tab-pane fade tabbed-menu-list__item-content">
                                    <div class=container>
                                        <div class=row>
                                            <div class="col-xs-12 col-md-3 tabbed-menu-list__content-title">
                                                <a class=b-body-copy
                                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/switch-disconnectors-and-cam-switches.html
                                                    target=_self>View all Switch-Disconnectors and cam switches</a>
                                            </div>
                                            <div class="col-xs-12 col-md-9 tabbed-menu-list__tab-links">
                                                <div>
                                                    <div class="col-xs-12 col-md-4 tabbed-menu-list__tab-links--link">
                                                        <a class=b-body-copy-small
                                                            href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/switch-disconnectors-and-cam-switches/p1-40-switch-disconnectors.html
                                                            target=_self>p1-40 switch-disconnectors</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabbed-menu-list__tab-title row-6 desktop b-body-copy">
                                <a class="tabbed-menu-list__title desktop link"
                                    href=https://www.eaton.com/gb/en-gb/products/controls-drives-automation-sensors/variable-frequency-drives---emea.html
                                    target=_self>Variable frequency drives</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb aem-GridColumn aem-GridColumn--default--12">
            <div class=eaton-breadcrumb>
                <div class=container>
                    <ul class=eaton-breadcrumb__list>
                        <li class=eaton-breadcrumb__list-item>
                            <a href=/gb/en-gb/products.html aria-label="Go back to Products">Products</a>
                            <i class="icon icon-chevron-right"></i>
                        </li>
                        <li class=eaton-breadcrumb__list-item>
                            <span>Industrial controls, drives, automation &amp; sensors</span>
                            <i class="icon icon-chevron-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer -->
        {{> footer}}
    </div>
</div>