<div class="footer aem-GridColumn aem-GridColumn--default--12">
    <div class=footerReference>
        <div class="eaton-footer dark-theme">
            <div class=footer-top>
                <div class=container>
                    <div class=row>
                        <div class="col-xs-12 col-md-12">
                            <div class=footer-top__logo>
                                <div class=eaton-logo>
                                    <a href=/gb/en-gb.html target=_self class=eaton-logo__link>
                                        <img class="eaton-logo__image secondary-image u-visible-desktop lazyload"
                                            data-src=https://www.eaton.com/content/dam/eaton/global/logos/eaton-logo-white-small.png
                                            alt="Eaton&#39;s brand signature">
                                        <img class="eaton-logo__image secondary-image u-visible-mobile lazyload"
                                            data-src=https://www.eaton.com/content/dam/eaton/global/logos/eaton-logo-white-small.png
                                            alt="Eaton&#39;s brand signature">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row footer-topdescription">
                        <div class="col-xs-12 col-md-6">
                            <div class=footer-top__content>
                                <div class=eaton-text-default>
                                    <div class="eaton-text-default__content rich-text-container">Eaton is an
                                        intelligent power management company dedicated to improving the
                                        quality of life and protecting the environment for people
                                        everywhere. We are guided by our commitment to do business right, to
                                        operate sustainably and to help our customers manage power ─ today
                                        and well into the future. By capitalizing on the global growth
                                        trends of electrification and digitalization, we’re accelerating the
                                        planet’s transition to renewable energy and helping to solve the
                                        world’s most urgent power management challenges.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class=footer-top__link-list>
                                <div class="link-list-vertical__component link-list-vertical__alignment--left">
                                    <div
                                        class="link-list-vertical__heading link-list-vertical__eyebrow b-eyebrow-large">
                                        Company
                                    </div>
                                    <ul class=link-list-vertical__list>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/about-us.html aria-label="Go to About us"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>About us</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/careers.html aria-label="Go to Careers"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Careers</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/inclusion-diversity.html
                                                aria-label="Go to Inclusion and diversity"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Inclusion and
                                                        diversity</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/investor-relations.html
                                                aria-label="Go to Investor relations"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Investor
                                                        relations</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/sustainability.html
                                                aria-label="Go to Sustainability" class=link-list-vertical__list-link
                                                rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Sustainability</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/news-insights.html
                                                aria-label="Go to News and insights" class=link-list-vertical__list-link
                                                rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>News and
                                                        insights</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/policies-and-statements/slavery-and-human-trafficing-statement.html
                                                aria-label="Go to Slavery and human trafficking statement"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Slavery and human
                                                        trafficking statement</bdi></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class=footer-top__link-list>
                                <div class="link-list-vertical__component link-list-vertical__alignment--left">
                                    <div
                                        class="link-list-vertical__heading link-list-vertical__eyebrow b-eyebrow-large">
                                        Quick links
                                    </div>
                                    <ul class=link-list-vertical__list>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/sign-in.html aria-label="Go to Sign in"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Sign in</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/support.html aria-label="Go to Support"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Support</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/policies-and-statements.html
                                                aria-label="Go to Policies and statements"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Policies and
                                                        statements</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/policies-and-statements/terms-and-conditions.html
                                                aria-label="Go to Terms and conditions"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Terms and
                                                        conditions</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/policies-and-statements/responsible-sourcing-of-conflict-minerals0.html
                                                aria-label="Go to Responsible sourcing of conflict minerals"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Responsible sourcing of
                                                        conflict minerals</bdi></span></a>
                                        </li>
                                        <li
                                            class="link-list-vertical__list-item link-list-vertical__list-item__content b-body-copy">
                                            <a href=/gb/en-gb/company/policies-and-statements/privacy-cookies-and-data-protection/preference-centers.html
                                                aria-label="Go to Subscribe to emails"
                                                class=link-list-vertical__list-link rel=nofollow>
                                                <span class=link-list-vertical__list-text><bdi><i
                                                            class="link-list-vertical__external-icon icon"
                                                            aria-hidden=true></i>Subscribe to
                                                        emails</bdi></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class=footer-top__social-links>
                                <div class=eaton-social-links>
                                    <h4 class="eaton-social-links__eyebrow b-eyebrow-small">Let&#39;s talk
                                        big ideas
                                    </h4>
                                    <ul class=eaton-social-links__list>
                                        <li class=eaton-social-links__list-item>
                                            <a href=https://www.linkedin.com/company/eaton/
                                                class=eaton-social-links__list-link target=_blank>
                                                <img data-src=https://www.eaton.com/content/dam/eaton/resources/icons/socialicons/linked-in.png
                                                    class="eaton-social-links__list-icon lazyload" alt="">
                                            </a>
                                        </li>
                                        <li class=eaton-social-links__list-item>
                                            <a href=https://twitter.com/eatoncorp/ class=eaton-social-links__list-link
                                                target=_blank>
                                                <img data-src=https://www.eaton.com/content/dam/eaton/resources/icons/socialicons/twitter.png
                                                    class="eaton-social-links__list-icon lazyload" alt="">
                                            </a>
                                        </li>
                                        <li class=eaton-social-links__list-item>
                                            <a href=https://facebook.com/eatoncorporation/
                                                class=eaton-social-links__list-link target=_blank>
                                                <img data-src=https://www.eaton.com/content/dam/eaton/resources/icons/socialicons/facebook.png
                                                    class="eaton-social-links__list-icon lazyload" alt="">
                                            </a>
                                        </li>
                                        <li class=eaton-social-links__list-item>
                                            <a href=https://www.youtube.com/EatonVideos
                                                class=eaton-social-links__list-link target=_blank>
                                                <img data-src=https://www.eaton.com/content/dam/eaton/resources/icons/socialicons/YouTubeLogo.jpg
                                                    class="eaton-social-links__list-icon lazyload" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                    <div class=eaton-social-links__cta>
                                        <a href=/gb/en-gb/company/news-insights/social-media.html
                                            aria-label="View all social media"
                                            class="eaton-social-links__page-link b-body-copy-small"><span
                                                class=eaton-social-links__page-link-text><bdi>View all
                                                    social media</bdi></span><i
                                                class="eaton-social-links__page-link-icon icon icon-chevron-right"
                                                aria-hidden=true></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=footer-bottom>
                <div class=container>
                    <div class=row>
                        <div class="col-xs-12 footer-bottom__rtl_list">
                            <div class=footer-bottom__link-list>
                                <div class="link-list-horizontal b-body-copy-small">
                                    <ul class=link-list-horizontal__list>
                                        <li class=link-list-horizontal__list-item>
                                            <a href=/gb/en-gb/sitemap.html aria-label="Go to Sitemap"
                                                class=link-list-horizontal__list-link>Sitemap</a>
                                        </li>
                                        <li class=link-list-horizontal__list-item>
                                            <a href=/gb/en-gb/company/policies-and-statements/privacy-cookies-and-data-protection.html
                                                aria-label="Go to Privacy, cookies &amp; data protection policy"
                                                class=link-list-horizontal__list-link>Privacy, cookies &amp;
                                                data protection policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-bottom__copyright b-body-copy-small"> © 2023 Eaton. All
                                rights reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="back-to-top button--reset" data-scroll-to=body>
                <span class=sr-only>Back to top of the page</span>
                <i class="icon icon-chevron-up" aria-hidden=true></i>
            </button>
        </div>
    </div>
</div>