<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="font" href="./assets/fonts/EatonRegular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="./assets/fonts/EatonMedium.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="./assets/fonts/EatonBold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="./assets/fonts/eaton-glyphicon.ttf" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" as="font" href="./assets/fonts/glyphicons-halflings-regular.woff2" type="font/woff2"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{title}}</title>
</head>

<body class="page primary-page">
    <!-- Main -->
    {{{body}}}

    <!-- Scripts -->
    <script src="/assets/js/jquery.js"></script>
    <script src='/assets/js/app.js'></script>
</body>

</html>