<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>{{title}}</title>


    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}

    {{!-- Jquery --}}
    <script
        src="https://www.eaton.com/etc.clientlibs/eaton/settings/wcm/designs/clientlib/clientlib-jquery.min.ACSHASH50d6dc7ccafb2e3ad36b68481c480d79.js"></script>



    {{!--
    <link rel="stylesheet" href="https://app.cdn.lookbookhq.com/libraries/overlay/overlay.css" type="text/css" />
    <script type="text/javascript" src="https://app.cdn.lookbookhq.com/libraries/overlay/overlay.js"></script> --}}
</head>

<body class="page primary-page">

    <!-- Main -->
    {{{body}}}

    <!-- Scripts -->
    <script src='/assets/js/app.js'></script>
</body>

</html>